body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    padding: 24px 0;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 24px 0;
}

.button {
    display: flex;
    gap: 5px;
}

.image {
    border : 5px solid #e600bf;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid #333;
    border-color: black;
    background: #c3ee04;
    border-radius: 4px;
    cursor: pointer;
}

.recipe {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid #333;
    border-color: rgb(71, 202, 11);
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    padding: 12px 0;
    margin-top: auto;
}